.picture-background {
  background-image: url('./pictures/瀑布变“冰瀑”.png');
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
  /* 设置高度，确保背景图片覆盖整个屏幕 */
}
/* 
@font-face {
  font-family: "Squada One";
  src:
    url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap“)

)} */
/* meetingpad字样 */
.meetingpd {
  font-family: Squada One;
  position: fixed;
  left: 40px;
  top: 16px;
  width: 141px;
  height: 40px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

/* 左边最大框 */
.rectangle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 88px;
  top: 320px;
  width: 360px;
  height: 80px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  transition: left 0.3s ease;
  z-index: 999999;
}

/* 左移动 */
.rectangle:hover {
  left: 70px;
  cursor: pointer;
}

/* 加号按钮 */
.plus {
  margin-bottom: 12px;
  margin-left: 30px;
  opacity: 1;
  font-size: 50px;
  font-weight: 500;
  color: rgba(37, 37, 37, 1);
}

/* 添加文件 */
.add {
  margin-bottom: 3px;
  margin-left: 20px;
  opacity: 1;
  font-size: 25px;
  font-weight: 500;
  color: rgba(37, 37, 37, 1);

}

/* 黑色背景色 */
.balck-square {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  left: 88px;
  top: 430px;
  width: 315px;
  height: 70px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  padding: 24px 24px 24px 24px;
}

/* 提示文字 */
.text-square {
  left: 24px;
  top: 24px;
  width: 257px;
  height: 76px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(240, 197, 79, 1);
  text-align: left;
  vertical-align: top;
}

/* 界面右下脚文字提示部分 */
.text-bottom {
  position: fixed;
  right: 30px;
  bottom: 10px;
  width: 698px;
  height: 18px;
  opacity: 1;
  text-shadow: 0px 0px 2px rgba(68, 68, 68, 1);
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
}

/* 登陆页右上角白色方框 */
.rectangle-right {
  position: fixed;
  right: 25px;
  top: 24px;
  width: 209px;
  height: 40px;
  opacity: 1;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px 0px 12px;
}

/* 变为手的动画效果 */
.rectangle-right:hover {
  cursor: pointer;
}

/* 中英文切换 */
.language-change {
  position: fixed;
  size: 30px;
  right: 200px;
  top: 24px;
  opacity: 1;
}

/* 控制台 */
.console {
  position: fixed;
  top: 23px;
  right: 140px;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  color: rgba(37, 37, 37, 1);
}

/* 注册 */
.registration {
  position: fixed;
  top: 23px;
  right: 60px;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  color: rgba(37, 37, 37, 1);
}

/* 抽屉 */
.drawer {
  margin-left: 80px;
  margin-top: 100px;
  width: 400px;
  height: 426px;
  opacity: 1;
  border-radius: 8px;
  border: 1px solid rgba(225, 225, 225, 1);
}

/* 抽屉内的文字 */
.text1-drawer {
  margin-top: 80px;
  margin-left: 100px;
  width: 198px;
  height: 60px;
  font-size: 40px;
  font-weight: 600;
  color: rgba(37, 37, 37, 1);
}

/* 中间小字 */
.text2-drawer {
  margin-top: 0px;
  margin-left: 110px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(161, 161, 161, 1);
}

/* 抽屉内下方文字 */
.text3-drawer {
  position: fixed;
  margin-top: 130px;
  margin-left: 80px;
  width: 241px;
  height: 36px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(161, 161, 161, 1);
  text-align: center;
}

/* 输入框 */
.Input {
  width: 280px;
  height: 58px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 8px;
  /* border-color: #F0C54F; */
}

/* 输入框聚焦颜色
.Input:focus {
  color: rgba(161, 161, 161, 1);
} */

/* 默认字样颜色 */
.text-number {
  position: fixed;
  margin-top: 48px;
  margin-left: 140px;
  z-index: 9999;
  width: 64px;
  height: 24px;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  color: rgba(161, 161, 161, 1);
  /* 禁用元素上的鼠标事件 */
  pointer-events: none;

  /* 校验错误后文字内容变红 */
  &.text-error {
    color: red;
    /* 设置文字错误状态时的颜色 */
  }
}

/* 移动动画 */
.text-focus {
  transform: translate(-60px, -25px);
  font-size: 12px;
  transition: 0.5s;
  z-index: 9999;
  padding: 0 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: rgba(240, 197, 79, 1);
}

/* 位置还原动画 */
.text-none {
  transform: translate(0px, 0px);
  transition: 0.5s;
  font-size: 16px;
}

/* 按钮 */
.Button {
  position: fixed;
  margin-top: 20px;
  margin-left: 254px;
  color: white;
  background-color: black;
}

/* 左侧蒙层样式 */
/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 58.5%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
} */

.error-text {
  position: fixed;
  color: red;
  margin-top: 20px;
  margin-left: 50px;
}

.Input.input-error {
  border-color: red;
  /* 设置错误状态时的边框颜色 */
}

.input-blur {
  border-color: #F0C54F;
}

.file-box {
  position: fixed;
  left: 88px;
  top: calc(50% - 40px);
  width: 260px;
  height: 0;
  opacity: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.25);
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  animation: expandUp 0.5s forwards;
}

@keyframes expandUp {
  0% {
    height: 80px;
    top: calc(50% - 40px);
  }

  100% {
    height: 430px;
    opacity: 1;
    top: calc(50% - 215px);
  }
}

@keyframes return {
  0% {
    height: 430px;
    opacity: 1;
    top: calc(50% - 215px);
  }

  100% {
    height: 80px;
    top: calc(50% - 40px);
    opacity: 0;
  }
}

/* 使用伪类选择器来创建上半部分的灰色背景 */
.file-box::before {
  content: '';
  position: absolute;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #f2f2f2;
  /* 确保伪类元素在内容之后显示 */
  z-index: -1;
}

.file-item {
  margin-top: 5px;
  margin-left: -10px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 260px;
  padding: 5px;
  cursor: pointer;
}

.file-name {
  font-size: 12px;
  color: rgba(37, 37, 37, 1);
  font-weight: bold;
}

.file-size {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(161, 161, 161, 1);
}

.close-x {
  margin-left: 125px;
  margin-top: -18px;
  color: rgba(161, 161, 161, 1);
}

/* 文件展示列表里的样式 */
.text-transfer {
  font-size: 18px;
  font-weight: 500;
}

.total-size {
  position: fixed;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(161, 161, 161, 1);
  margin-left: 10px;
}

.text-round {
  position: fixed;

  margin-top: -24px;
  margin-left: 160px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(240, 197, 79, 1);
  cursor: pointer;
}

.text-add {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  font-size: 20px;
  color: #252525;
  cursor: pointer;

}

.text-left {
  font-size: 13px;
  font-weight: 500;
}

.text-right {
  font-size: 14px;
  font-weight: 400;
}

.text-container {
  top: 200px;
  position: absolute;
}

.text-bottom2 {
  position: absolute;
  left: 20px;
  top: 350px;
  width: 240px;
  height: 32px;
  display: flex;
  font-size: 11px;
  font-weight: 400;
  color: rgba(161, 161, 161, 1);
}

.checkbox {
  position: absolute;
  top: 348px;
  right: 26px;
}

.text-button {
  border-radius: 40px;
  color: rgba(37, 37, 37, 1);
  width: 150px;
  height: 40px;
  margin-top: 210px;
  margin-left: 40px;
  font-weight: bold;
}